<p id="notice"><%= notice %></p>

<h1>Listing Initial Employers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%initialemployershash= @initialemployers.order(name: :asc) %>
    <% initialemployershash.each do |initialemployer| %>
      <tr>
        <td><%= initialemployer.name %></td>
        <td><%= link_to 'Show', initialemployer %></td>
         <% if can? :update, @initialemployer%> 
        <td><%= link_to 'Edit', edit_initialemployer_path(initialemployer) %></td>
        <td><%= link_to 'Destroy', initialemployer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Initial Employer', new_initialemployer_path %>
