<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @initialemployer.name %>
</p>

<p>
<strong>Alumni:</strong>
<ul>
	<%@alums.each do |alum| %>
		<li><%= link_to alum.name, alum %></li>
	<% end %>
</ul>
</p>

 <% if can? :update, @initialemployer%> 
<%= link_to 'Edit', edit_initialemployer_path(@initialemployer) %> |
<%end%>
<%= link_to 'Back', initialemployers_path %>
