<%= form_for(@faculty) do |f| %>
  <% if @faculty.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@faculty.errors.count, "error") %> prohibited this faculty from being saved:</h2>

      <ul>
      <% @faculty.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
    </div>
    <div class="field">
    <%= f.label :uid %><br>
    <%= f.text_field :uid %>
  </div>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :about %><br>
    <%= f.text_area :about %>
  </div>

  <div class="field">
	  <%= f.label :department_id%><br>
	  <%= f.select:department_id , Department.all.collect {|x| [x.name, x.id]}, { :include_blank => "Select one"} %> <br/>
  </div>
 <div class="field">
 <%= f.label  "Research Area"%><br>
 <%=f.select:researcharea_id, Researcharea.all.collect {|x| [x.name, x.id]}, { :include_blank => "Select one"} %> <br/>
</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
