<p id="notice"><%= notice %></p>

<h1>Listing Faculties</h1>

<table>
  <thead>
    <tr>
	<th>Name</th>
	<th>Uid</th>
	<th>Email</th> 
  <th>Department</th> 
  <th>Research Area</th>
	<th>About</th>
	<th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
    <%facultieshash= @faculties.order(name: :asc) %>
    <% facultieshash.each do |faculty| %>
      <tr>
	      <td><%= faculty.name %></td>
	      <td><%= faculty.uid %> </td>
        <td><%= faculty.email %></td>
        <td><%= faculty.department.name %></td>
        <td><%= faculty.researcharea_id %> </td>
        <td><%= faculty.about %></td>
        <td><%= link_to 'Show', faculty %></td>
         <td> <% if can? :update, faculty%>  </td>
        <td><%= link_to 'Edit', edit_faculty_path(faculty) %></td>
        <td><%= link_to 'Destroy', faculty, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Faculty', new_faculty_path %>
