<p id="notice"><%= notice %></p>


<p>
  <strong>Name:</strong>
  <%= @faculty.name %>
  </p>

<p>
  <strong>UID:</strong>
  <%= @faculty.uid %>
</p>


<p>
  <strong>Email:</strong>
  <%= @faculty.email %>
</p>
<p>
  <strong>Department:</strong>
  <%= @faculty.department.name%>
</p>

<p>
  <strong>Research Area:</strong>
  <%= @faculty.researcharea_id%>
</p>

<p>
  <strong>About:</strong>
  <%= @faculty.about %>
</p>

<p>
<strong>Alumni:</strong>
<ul>

<% @alums.each do |alum| %>
	<li><%=link_to alum.name, alum%></li>

<%end %>
</ul>	
</p>
 <% if can? :update, @faculty%> 
<%= link_to 'Edit', edit_faculty_path(@faculty) %> |
<%end %>
<%= link_to 'Back', faculties_path %>
