<p id="notice"><%= notice %></p>


<p>
  <strong>Name:</strong>
  <%= @faculty.name %>
  </p>

<%if !@faculty.uid.nil? %>
<p>
  <strong>UID:</strong>
  <%= @faculty.uid %>
</p>
<% end %>

<%if !@faculty.email.nil? %>
<p>
  <strong>Email:</strong>
  <%= @faculty.email %>
</p>
<%end%>

<%if !@faculty.department.nil? %>
<p>
  <strong>Department:</strong>
  <%= @faculty.department.name%>
</p>
<%end%>

<p>
  <strong>Research Area:</strong>
  <%= @faculty.researcharea_id%>
</p>


<%if !@faculty.about.nil? %>
<p>
  <strong>About:</strong>
  <%= @faculty.about %>
</p>
<%end%>

<p>
<strong>Alumni:</strong>
<ul>

<% @alums.each do |alum| %>
	<li><%=link_to alum.name, alum%></li>

<%end %>
</ul>	
</p>
 <% if can? :update, @faculty%> 
<%= link_to 'Edit', edit_faculty_path(@faculty) %> |
<%end %>
<%= link_to 'Back', faculties_path %>
