<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @researcharea.name %>
</p>

<p>
<strong>Alumni:</strong>
<ul>
	<%@alums.each do |alum| %>
		<li><%= link_to alum.name, alum%></li>
	<%end%>
</ul>
</p>

 <% if can? :update, @researcharea%> 
<%= link_to 'Edit', edit_researcharea_path(@researcharea) %> |
<%end%>
<%= link_to 'Back', researchareas_path %>
