<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@alum.errors.count, "error") %> prohibited this alum from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :admin %><br>
    <%= f.text_field :admin %>
  </div>
 

  <div class= "field">
	  <%= f.label :faculty_id %> <br>
	<%=f.select :faculty_id, Faculty.all.collect {|x| [x.name, x.id]},{:include_blank => "Select one"} %> <br />
</div>

 <div class= "field">
    <%= f.label :alum_id %> <br>
  <%=f.select :alum_id, Alum.all.collect {|x| [x.name, x.id]},{:include_blank => "Select one"} %> <br />
</div>

 

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
