<p id= "notice"><%= notice %> </p>


<p>
  <strong>AlumID:</strong>
  <% if @user.alum_id==nil %>
	  <%= "nil" %>
  <%else%>
	  <%=@user.alum_id%>
  <%end %>
</p>

<p>
  <strong>FacultyID:</strong>
  <% if @user.faculty_id==nil %>
    <%= "nil" %>
  <%else%>
    <%=@user.faculty_id%>
  <%end %>
</p>


<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
