<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @department.name %>
  </p>
<p> 
<strong>Alumni:</strong>
<ul>
	<% @alums.each do |alum| %>
		<li><%=link_to alum.name, alum%></li>
	<%end %> 
	</ul>
</p>

<%= link_to 'Edit', edit_department_path(@department) %> |
<%= link_to 'Back', departments_path %>
