<%= form_for(@alum) do |f| %>
  <% if @alum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@alum.errors.count, "error") %> prohibited this alum from being saved:</h2>

      <ul>
      <% @alum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :uid %><br>
    <%= f.text_field :uid %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :about %><br>
    <%= f.text_area :about %>
  </div>

  <div class= "field">
	  <%= f.label :faculty_id %> <br>
	<%=f.select :faculty_id, Faculty.all.collect {|x| [x.name, x.id]},{:include_blank => "Select one"} %> <br />
</div>

  <div class= "field">
	  <%= f.label "Graduation Year" %> <br>
	<%=f.select :year_id, Year.all.collect {|x| [x.yr, x.id]},{:include_blank => "Select one"} %> <br />
</div>


  <div class= "field">
	  <%= f.label "Department" %> <br>
	<%=f.select :department_id, Department.all.collect {|x| [x.name, x.id]},{:include_blank => "Select one"} %> <br />
</div>

  <div class= "field">
	  <%= f.label "Research Area"  %> <br>
	<%=f.select :researcharea_id, Researcharea.all.collect {|x| [x.name, x.id]},{:include_blank => "Select one"} %> <br />
</div>

  <div class= "field">
	  <%= f.label "Initial Employer" %> <br>
	<%=f.select :initialemployer_id, Initialemployer.all.collect {|x| [x.name, x.id]},{:include_blank => "Select one"} %> <br />
</div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
