<p id="notice"><%= notice %></p>

<h1>Listing Alumni</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Uid</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Faculty</th> 
      <th>Graduation Year</th>
      <th>Department</th> 
      <th>Research Area</th>
      <th>Initial Employer</th>
      <th>About</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%alumhash= @alums.order(name: :asc) %>
    <% alumhash.each do |alum| %>
      <tr>
        <td><%= alum.name %></td>
	<td><%= alum.uid %> </td>
	<td><%= alum.email %></td>
        <td><%= alum.phone %></td>
        <td><%=link_to alum.faculty.name, alum.faculty%></td>
        <td><%= link_to alum.year.yr, alum.year %></td>
        <td><%=link_to  alum.department.name, alum.department %></td>
	<td><%=link_to  alum.researcharea.name, alum.researcharea %> </td> 
        <td><%=link_to  alum.initialemployer.name, alum.initialemployer%> </td>  
        <td><%= alum.about %></td>   
        <td><%= link_to 'Show', alum %></td>
        <td><%= link_to 'Edit', edit_alum_path(alum) %></td>
        <td><%= link_to 'Destroy', alum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Alumni', new_alum_path %>
