<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @alum.name %>
  </p>

  <!--Doesn't show properly-->
<p>
  <strong>UID:</strong>
  <%= @alum.uid %>
</p>


<p>
  <strong>Email:</strong>
  <%= @alum.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @alum.phone %>
</p>
<p>
  <strong>Faculty:</strong>
  <%= @alum.faculty.name %>
  </p>
<p>
  <strong>Graduation Year:</strong>
  <%= @alum.year.yr %>
  </p>
 
  <!--Doesn't show properly-->
<p>
  <strong>Department:</strong>
  <%= @alum.department_id %>
  </p>
 <!--Doesn't show properly-->
  <p>
  <strong>Research Area:</strong>
  <%= @alum.researcharea_id %> 
  </p>
  <!--Doesn't show properly-->
<p>
  <strong>Initial Employer:</strong>
  <%= @alum.initialemployer_id %>
</p>
<p>
  <strong>About:</strong>
  <%= @alum.about %>
</p>

<%= link_to 'Edit', edit_alum_path(@alum) %> |
<%= link_to 'Back', alums_path %>
