<!DOCTYPE html>
<html>
<head>
<title>Alumni</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
<div class="login-bar">
	<% if user_signed_in? %>
		Welcome, <%= current_user.email %>
		&nbsp;|&nbsp;
		<%= link_to "log out", destroy_user_session_path(user_session), :method => :delete %>  
	<% else %>
		<%= link_to "log in", new_user_session_path %>
		&nbsp;|&nbsp;
		<%= link_to "register", new_user_registration_path %>
	<% end %>
</div>

<div>
	<ul class= "main-nav">
		<li><%= link_to "Alumni", root_path %></li>
		<li><%= link_to "Faculty", faculties_path%></li>
		<li><%=link_to "Department", departments_path %></li>
		<li><%=link_to "Research Areas", researchareas_path %></li>
		<li><%=link_to "Initial Employers", initialemployers_path %></li>
		<li><%=link_to "Graduation Years", years_path%></li>
	</ul>
</div>

<p class = "alert"> <%= alert %> </p>
<%= yield %>

</body>
</html>
